@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */



/* создание переменных */
/* чтобы использовать изи прописываем var() */
:root {
    --black: #311F09;
    --orange: #FF8A00;
    --green: #3FA72F;
    --white-orange: #FFE6C9;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    scroll-behavior: smooth;
    color: var(--black);
}

.container {
    /* максимальная ширина блока */
    max-width: 1237px;
    margin: 0px auto;
}



/* HEADER */
/* внеш.отступы прописываем в глобальный блок! */
header {
    margin: 51px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    /* выравнивает элементы по центру */
    align-items: center;
    /* решение проблемы с внеш.отступами - Flex-элементы внутри .header-content могут вести себя непредсказуемо при наличии больших margin.*/
    /* margin: 51px;
    width: 100%; */
}

.header-content-last {
    display: flex;
    /* без флекаса не работает */
    align-items: center;
}

.header-content-last a:first-child {
    margin-right: 25px;
}

/* .header-content-last img {
    margin-right: 25px;
} */

.header-content-last a:last-of-type,
.main-content-buttons a {
    background: var(--green);
    text-decoration: none;
    color: #fff;
    padding: 15px 34px;
    border-radius: 133px;
    transition: all 500ms ease;
}

.header-content-last a:last-of-type:hover {
    background: var(--orange);
}

nav a {
    text-decoration: none;
    margin-right: 45px;
    transition: all .5s ease;
    /* по умолчанию ссылки имеют display: inline;, поэтому нам нужно это оставить, но сделать их блочными, для создания анимации увеличения*/
    display: inline-block;
}

nav a:hover {
    color:  var(--green);
    transform: scale(1.1);
}

nav a:last-child {
    margin-right: 0;
}

nav .checked {
    color: var(--orange);
}

.logo-header {
    padding: auto 18px;
}

.logo-header .logo-orange {
    color: var(--orange);
}

/* MAIN */
main {
    margin-top: 166px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-content-about {
    color: var(--orange);
    background-color: var(--white-orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;

    font-size: 18px;
    font-weight: 400;

    margin-bottom: 23px;
}

.main-content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 110%;
}

.main-content p {
    font-family: 'Raleway', sans-serif;
    line-height: 200%;
    width: 480px;
    margin-bottom: 70px;
}

.main-content-buttons a {
    font-size: 20px;
    padding: 25px 62px;
    display: inline-block;
    transition: transform .5s ease;
}



.main-content-buttons a:first-child {
    background: var(--orange);
    margin-right: 24px;
}

.main-content-buttons a:hover {
    transform: scale(1.1);
}



/* WELCOME */
.welcome {
    /* background: #ECFAF1; */
    /* или так */
    background: rgba(63, 198, 110, 0.1)
}

.welcome-inner,
.reserve-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-inner h2,
.welcome-inner .text-orange,
.reserve-inner h2,
.reserve-inner .text-orange {
    margin-top: 188px;
    margin-bottom: 60px;
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    font-family: 'Tinos', sans-serif;
}

.welcome-inner p,
.reserve-inner p {
    margin-bottom: 122px;
    color: #5C4529;
    line-height: 200%;
}

.welcome-inner .text-orange,
.reserve-inner .text-orange {
    color: var(--orange);
}

.welcome-inner a,
.reserve-inner a {
    background: var(--orange);
    color: #fff;
    padding: 25px 45px;
    border-radius: 162px;
    text-decoration: none;
    height: 75px;
    transition: all .5s ease;
    margin-bottom: 188px;
    display: inline-block;
    line-height: 1;
}

.welcome-inner a:hover,
.reserve-inner a:hover {
    background: var(--green);
}



/* MENU */
.menu {
    width: 100%;
    margin-top: 164px;
    margin-bottom: 201px;
    margin-left: auto;
    margin-right: auto;
}

.menu h2 {
    font-family: 'Tinos', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 200%;
    text-align: center;
    margin-bottom: 60px;
}

.menu .menu-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu .menu-btn a {
    display: inline-block;
    line-height: 200%;
    text-decoration: none;
    background: #FBFAFA;
    padding: 17px 54px;
    border-radius: 162px;

    transition: background-color .5s ease;
}

.menu .menu-btn a:hover,
.menu .menu-btn a.checked:hover {
    background: #FF8A00;
    color: #fff;
}

.menu .menu-btn a.checked {
    background: #311F09;
    color: #fff;
    font-weight: 600;

    transition: background-color .5s ease;
}

.menu .menu-items {
    display: flex;
    justify-content: space-between;
    /* свойство, которое позволяет карточками перепрыгивать на новую строку */
    flex-wrap: wrap;
}

.menu .menu-item {
    width: 30%;
    background-color: #FBFAFA;
    border-radius: 70px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 30px;
}

.menu .menu-item h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.menu .menu-item p {
    tab-size: 14px;
    line-height: 200%;
    color: #59442B;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.menu .menu-item .menu-item-rating {
    margin-bottom: 15px;    
}

.menu .menu-item .menu-item-rating img:not(:last-child) {
    margin-right: 10px;
}

.menu .menu-item .menu-item-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.menu .menu-item .menu-item-last h4 {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    display: block;
    margin-left: 40px;
}

.menu .menu-item .menu-item-last a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--orange);
    border-radius: 162px;
    padding: 20px 36px;
    margin-right: 40px;

    transition: all .5s ease;
}

.menu .menu-item .menu-item-last a:hover {
    background-color: var(--green);
}

.menu .menu-pad {
    margin-bottom: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.menu .menu-pad a {
    display: block;
    background-color: #FFF4E6;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    margin-right: 15px;

    text-decoration: none;
    color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 55px;

    transition: transform .5s ease;
}

.menu .menu-pad a:hover {
    transform: scale(1.1);
}

.menu .menu-pad a:first-child,
.menu .menu-pad a:last-child {
    background-color: var(--black);
    color: #fff;
    font-size: 40px;
    font-weight: 170;
    margin: 0 15px;
}

.menu .menu-pad a:first-child {
    margin-right: 30px;
}

.menu .menu-pad a:nth-child(5) {
    background-color: #fff;
    color: #B7A28B;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 800;
}

/* RESERVE */
.reserve {
    background: rgba(255, 244, 231, 0.4);
    padding-top: 113px;
    padding-bottom: 40px;

}

.reserve .container {
    max-width: 1440px;
}

.reserve-left {
    margin-left: -162px;
}

.reserve-right {
    margin-right: 103px;
}

.reserve .reserve-inner .reserve-right h2 {
    width: 453px;
}

.reserve .reserve-inner .reserve-right p {
    width: 433px;
}



/* CHEFS */
.chefs {
    padding-top: 175px;
    padding-bottom: 171px;
    text-align: center;
}

.chefs-inner h2 {
    font-family: 'Tinos', sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 135px;
    text-align: center;
}

.chefs-inner .chefs-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.chefs-inner .chefs-items img {
    margin-bottom: 40px;
}

.chefs-inner .chefs-items h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.chefs-inner .chefs-items h4 {
    color: #A08D76;
    font-size: 25px;
    font-weight: 400;
}

.chefs-inner a {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: var(--orange);
    padding: 25px 78px;
    border-radius: 162px;

    transition: all .5s ease;
}

.chefs-inner a:hover {
    background-color: var(--green);
    transform: scale(1.1);
}



/* CUSTOMERS */
.customers {
    background-color: rgba(208, 204, 199, 0.1);
    padding: 100px 0px 100px 0px;
}

.customers-inner {
    background: url(../images/round.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

.customers-inner h2 {
    font-family: 'Tinos', sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 70px;
}

.customers-inner h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.customers-inner h4 {
    margin-bottom: 90px;
}

.customers-inner img {
    margin-bottom: 40px;
}

.customers-inner .customers-about-inner {
    position: relative;
    width: 524px;
    margin-right: auto;
    margin-left: auto;
}

.customers-inner .customers-about-inner p {
    color: #5C4529;
    line-height: 200%;
}

#dot1 {
    position: absolute;
    top: -50px;
    left: -35px;
    rotate: 180deg;
}

#dot2 {
    position: absolute;
    bottom: -90px;
    right: -35px;
}
